body{
    background: url(https://moveis.schermaq.com.br/ger/f/produtos/36-163-G.jpg) no-repeat;
    margin:0px;
    background-size: cover;
}.tabela{
    width:100%;height:100%;margin:0%;
}.coluna1{
    width:17.5%;
}.coluna2{
    width:65%;
    background-color: hsla(56, 87%, 78%, 0.644);
}.coluna3{
    height:17.5%;
}.coluna4{
    height:80%;
}.botao{
    position:relative;
    margin-top:40px;
    width: 50%;
    height:50px;
    font-size:140%;
    border-radius: 30px;
    background-color: transparent;
    border-width: 2px;
    transition: transform 1s;
}.botao:hover {
    transform: scale(1.10);
}.titulo{
    font-size:50px;margin-top:30px;font-family:'montserrat'
}.menu{
    width: 90px;
    height:70px;
}.menu2{
    width: 90px;
    height:70px;
    color: rgb(145, 145, 145);
    margin-left: 10px;
}#b1,#b2,#b3{
    transition:background-color;
    transition-duration: 1s;
}#b1:hover{
    background-color:rgba(0, 255, 76, 0.719);
}
#b2:hover{
    background-color:rgba(255, 30, 0, 0.76);
}
#b3:hover{
    background-color:rgba(0, 195, 255, 0.651);
}.vazio{
    color:transparent
}.tam{
    width: 90px;
    height:70px;
}